<app-nav-bar [logedIn]="true"></app-nav-bar>
<div class="profile">
    <div id="avatar-container">
        <!-- && photo !== '' ? photo : '../../assets/images/profile_default.png' -->
        <img id="avatar-photo" #avatarImg class="avatar-photo"
        [src]="(photo && photo !== '') ? photo : '../../assets/images/profile_default.png'" (mouseenter)="showAddPhotoOverlay=true"
        alt="avatar photo">
    
        <div *ngIf="showAddPhotoOverlay" id="add-photo-overlay" class="avatar-photo"
            (mouseleave)="showAddPhotoOverlay=false">
    
            <button id="add-avatar-photo-button" class="center-positon-absolute" mat-icon-button (click)="openFileInput(fileInput)">
          <mat-icon>add_a_photo</mat-icon>
        </button>
    
            <!-- <mat-icon id="remove-avatar-photo-button" *ngIf="photo && photo !== ''" (click)="removePhoto()"
                matTooltip="remove this photo">close</mat-icon> -->
        </div>
    
        <!-- Input file -->
        <input #fileInput type="file" (change)="addPhoto($event)" name="avatar" accept="image/png, image/jpeg"
          style="display:none;">
    </div>
</div>

<h1 class="welcome">Welcome, {{ username }}</h1>




<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; align-items: center;">

  <app-alerts 
        [alert_danger]="alert_danger"
        [alert_success]="alert_success"
        [alert_warning]="alert_warning"
        [alert_message_danger]="alert_message_danger"
        [alert_message_success]="alert_message_success"
        [alert_message_warning]="alert_message_warning"
        [nextRoute]="['/profile/', id]"
    >
  </app-alerts>

  <h2 style="color: #C8AF1D; margin-left: -100px;">
    <img src="../../assets/images/star.png" class="label-icon">
    Change Full Name
  </h2>
  <mat-form-field>
    <mat-label>New Full Name</mat-label>
    <input matInput formControlName="full_name">
  </mat-form-field>

  <h2 style="color: #C8AF1D; margin-left: -140px;">
    <img src="../../assets/images/star.png" class="label-icon">
    Change E-mail
  </h2>
  <mat-form-field>
      <mat-label>Reset Email</mat-label>
      <input matInput formControlName="email">
  </mat-form-field>

  <h2 style="color: #C8AF1D; margin-left: -160px;">
    <img src="../../assets/images/star.png" class="label-icon">
    Change Job
  </h2>
  <mat-form-field>
      <mat-label>Change Job</mat-label>
      <input matInput formControlName="job">
  </mat-form-field>

  <h2 style="color: #C8AF1D; margin-left: -200px;">
    <img src="../../assets/images/star.png" class="label-icon">
    Add Bio
  </h2>
  <mat-form-field style="height: 150px;">
    <mat-label>Tell us about yourself</mat-label>
    <input matInput formControlName="bio">
  </mat-form-field>

  <button class="sub-btn" mat-raised-button type="submit">Submit</button>
</form>