<ul class="navbar-nav ml-auto align-items-center">
    <li class="nav-item">
        <img src="../../assets/images/fontisto_world-o.png" alt="Language Icon" class="language-icon">
    </li>
    <li class="nav-item dropdown"  style="margin-right: 15px;">
        <a style="color: black;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            English
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item" href="#">French</a>
            <a class="dropdown-item" href="#">Arabic</a>
        </div>
    </li>
</ul>