.predict{
    margin-top: 10%;
    padding-bottom: 10%;
}

.pred-btn{
    background-color: #C8AF1D;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 4% 10% 5% 10%;
    font-size: 20px;
    font-weight: 500;
}