@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.landing-logo img{
    width: 53px;
    height: 43px;
}

nav{
    font-weight: bold;
}

.landing-logo a{
    font-family: 'Montserrat';
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
}

.navbar-nav.ml-auto {
    display: flex;
    align-items: center; /* Align items vertically */
}

.btn-outline-primary{
    color: black;
}

.btn-outline-primary:hover {
    background-color: black; /* Change hover background color to red */
    border-color: white; /* Change border color to red */
    color: white; /* Change text color to white */
}

.dropdown-toggle::after {
    display: none; /* Hide the arrow */
}

.nav-item{
    font-size: 20px;
}
  

