<div style="display: flex; justify-content: center; align-items: center; margin-top: 40px; flex-direction: column;">
    <div class="landing-logo">
        <img src="../../assets/images/logo.png" alt="">
        <a class="navbar-brand bstrade-logo-phrase" href="#">B&S Trade</a>
    </div>

    <!-- ALERTS -->

    <div *ngIf="alert_danger" class="alert alert-danger" role="alert" style="margin-bottom: 30px;">
        {{ alert_message_danger }}
    </div>

    <div *ngIf="alert_success" class="alert alert-success alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">{{ alert_message_success }}</h4>
        <button onclick="location.href='/login'" type="button" class="btn btn-success" style="margin-left: 40%; background-color: rgb(11, 104, 4);">Proceed</button>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div *ngIf="alert_warning" class="alert alert-warning" role="alert" style="margin-bottom: 30px;">
        {{ alert_message_warning }}
    </div>

    <h1 style="font-weight: bold;">Create Your Account</h1>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; align-items: center;">
        <mat-form-field class="rounded-input" appearance="outline">
          <mat-label>Full Name</mat-label>
          <input required matInput formControlName="full_name">
        </mat-form-field>
      
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input required matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Job</mat-label>
            <input matInput formControlName="job">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input required matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm your password</mat-label>
            <input required matInput [type]="hideConf ? 'password' : 'text'" formControlName="confirm_password">
            <button type="button" mat-icon-button matSuffix (click)="hideConf = !hideConf" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hideConf ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field> 
        <a routerLink="/login" style="margin-left: -200px; margin-top: -5px; margin-bottom: 40px;">Already have an account ?</a>  
        <button class="sub-btn" mat-raised-button type="submit">Register</button>
    </form>
</div>