mat-form-field{
    width: 400px;
}

.sub-btn{
    background-color: black !important;
    color: #FFDB01 !important;
}

.landing-logo{
    margin-bottom: 40px;
}

.landing-logo a{
    color: black !important;
    font-size: 40px;
}

.landing-logo img{
    width: 70px;
}

.mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 30px !important;
}

::ng-deep .mat-mdc-text-field-wrapper{
    background-color: white !important;
    height: 55px !important;
    border-radius: 0px !important;
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
  