<div style="display: flex; justify-content: center; align-items: center; margin-top: 40px; flex-direction: column;">
    <div class="landing-logo">
        <img src="../../assets/images/logo.png" alt="">
        <a class="navbar-brand bstrade-logo-phrase" href="#">B&S Trade</a>
    </div>

    <app-alerts 
        [alert_danger]="alert_danger"
        [alert_success]="alert_success"
        [alert_warning]="alert_warning"
        [alert_message_danger]="alert_message_danger"
        [alert_message_success]="alert_message_success"
        [alert_message_warning]="alert_message_warning"
        [nextRoute]="nextRoute"
    >
    </app-alerts>

    <h1 style="font-weight: bold; margin-top: 60px;">Forget you password ?</h1>
    <p style="font-family: Montserrat; font-weight: 300; margin-top: 80px; margin-bottom: 70px;">
        insert your email and hit the button below to get your verification code
    </p>

    <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; align-items: center;">
      
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input required matInput formControlName="email">
        </mat-form-field>
        <button class="sub-btn" mat-raised-button type="submit">Send Mail</button>
    </form>
</div>