<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <img src="../../assets/images/search_icon.png" alt="" style="margin-right: 10px; margin-bottom: 5px;">
  </li>
  <li class="nav-item">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
          <input class="input-no-underline" matInput [matAutocomplete]="auto" [formControl]="formcontrol" placeholder="Search" />
          <mat-autocomplete #auto>
              <mat-option *ngFor="let item of filteroptions | async">{{item.stock_name}}</mat-option>
          </mat-autocomplete>
      </mat-form-field>
  </form>
  </li>
</ul>

  
